/* login_microservice/static/styles.css */
body {
  /* background-color: #292222; */
  margin: auto;
  /* background-image: url('images/background.jpeg');
  background-size: cover;
  background-repeat:  no-repeat; */
  padding: 0;
  position: relative;
  font-family: cursive;
}

h1 {
  text-align: center;
  color: #1185e0;
}

.login-form,
.forget-form {
  margin: 120px auto;
  border: #1185e0;
  background-color: #292222;
  padding: 40px 10px;
  width: 400px;
  height: 400px;
  text-align: center;
  border-radius: 25px;
}

.login-form .password,
.login-form .username,
.forget-form .password,
.forget-form .username,
.forget-form .cnf-password {
  border: 1px solid #999;
  transition: border-color 0.3s;
  width: 250px;
  color: #ffffff;
  font-size: 14px;
  background-color: rgb(94, 91, 91);
  border-radius: 12px;
  border-color: rgb(94, 91, 91);
  padding: 10px;
  margin-top: 18px;
  text-align: center;
}

#login-btn,
#reset-btn {
  margin: 25px;
  background-color: #1185e0;
  color: rgb(28, 25, 25);
  min-width: 100px;
  width: auto;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border: solid #1185e0;
  padding: 8px;
  border-radius: 13px;
}

input::placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: 13px;
  font: monospace;
  /* font-weight: bold; */
}

a {
  color: #1185e0;
  font-weight: bold;
  font-family: quicksand;
}

/* Dashboard*/
.dashboard-nav {
  position: fixed;
  left: 0;
  margin-top: 69px;
  width: 200px;
  height: 100vh;
  color: #fff;
  background-color: #f1f1f1;
  box-sizing: border-box;
}

.dashboard-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.dashboard-nav li a {
  display: block;
  color: #000;
  padding: 9px 18px;
  text-decoration: none;
}

.dashboard-nav li a:hover {
  background-color: #555;
  color: white;
}

.dashboard-content {
  margin-top: 49px;
  margin-left: 200px; /* Same as sidebar width */
  padding: 20px;
  box-sizing: border-box;
}
