{% extends 'layout.html' %}

{% block title %}Add Resource{% endblock %}

{% block content %}
{% if 'username' in session %}
<div class="container d-flex justify-content-center" style="margin-top: 6%;">
    <div class="col-4">
        <div class="p-4 rounded-4" style="background-color: rgba(201, 197, 199, 0.705);
                -webkit-backdrop-filter: blur(6px);
                backdrop-filter: blur(6px);">
            <form class="" method="post">
                <h2 class="text-center mt-3 mb-4">Add Resource</h2>
                    <div class="mb-1">
                        <label for="selectBuilding" class="form-label  opacity-100 fw-bold">Building</label>
                        <select required id="selectBuilding" name="selectBuilding" class="form-select mb-3">
                            <option value="select">--Select Building--</option>
                            <option value="Deccan Park">Deccan Park</option>
                            <option value="Synergy Park">Synergy Park</option>
                            <option value="Kohinoor Park">Kohinoor Park</option>
                        </select>
                    </div>
                    <div class="mb-1">
                        <label for="selectBlock" class="form-label  fw-bold">Block</label>
                        <select required id="selectBlock" name="selectBlock" class="form-select mb-3">
                            <option value="--Select Block--">--Select Block--</option>
                            
                        </select>
                    </div>
                    <script>
                        // Get references to the select elements
                        const selectBuilding = document.getElementById('selectBuilding');
                        const selectBlock = document.getElementById('selectBlock');
                        
                        // Define BLOCK options for BUILDINGS
                        const DeccanBlocks = ["DP A", "DP B", "DP C", "DP D"];
                        const SynergyBlocks = ["SP A", "SP B", "SP C"];
                        const KohinoorBlocks = ["KP A", "KP B", "KP C"];// Add the BLOCKS for BUILDINGS
                        
                        // Function to BLOCKS select based on the selected BUILDINGS
                        function Blocks() {
                            const selectedBuilding = selectBuilding.value;
                            selectBlock.innerHTML = ''; // Clear the current city options
                        
                            let BlocksSelection;
                            if (selectedBuilding === 'Deccan Park') {
                                BlocksSelection = DeccanBlocks;
                            } else if (selectedBuilding === 'Synergy Park') {
                                BlocksSelection = SynergyBlocks;
                            } else if (selectedBuilding === 'Kohinoor Park') { // Handle the third state
                                BlocksSelection = KohinoorBlocks;
                            }
                        
                            // Add the new block options
                            BlocksSelection.forEach(block => {
                                const option = document.createElement('option');
                                option.value = block;
                                option.textContent = block;
                                selectBlock.appendChild(option);
                            });
                        } 
                        // Add an event listener to the state select element
                        selectBuilding.addEventListener('change', Blocks);
                        
                        // Initially populate the city select with default options
                        Blocks();
                    </script>
                    
                <div class=" mb-1">
                    <label for="deskNo" class="form-label fw-bold">Desk No</label>
                    <select required id="deskNo" name="deskNo" class="form-select mb-3">
                        <option value="select">--Select--</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>

                <div class="mb-1">
                    <label for="deskNo" class="form-label  fw-bold">Resources</label>
                    <input type="text" class="form-control mb-3" id="resources" name="resources"
                        placeholder="Enter Resources" required>
                </div>

                <div class="d-flex mt-4  justify-content-center">
                    <input type="submit" class="btn fw-bold btn-primary" value="Add Resource">
                </div>
        </div>
        <p class="text-center mt-3" style="color: tomato;">{{error}}</p>
        </form>
    </div>
</div>
{% else %}
<div class="p-3 w-25 offset-5 my-5 rounded-3 fw-bold bg-danger text-white">
    <p>Session Expired Please Login ..!</p>
</div>
{% endif %}
{% endblock %}