{% extends 'layout.html' %}

{% block title %}Book Desk{% endblock %}

{% block content %}
{% if 'username' in session %}

<div class="contain" style= "background-image:url(./static/images/main2.jpg);">
    <div class="column">  

<div class="container " style="margin-top: 20% ;">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="border p-3">
                <h2 class="text-center mb-1">Book Desk</h2>
                <form method="post">                  
                    <div class="mb-5">
                        <label for="Select date" class="form-label">Select date</label>
                        <div class="input-group date">
                            <input type="text" id="datepicker" name="datepicker" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('#datepicker').datepicker();
                        });
                    </script>

                    <div class="mb-3">
                        <label for="Booking" class="form-label">Booking</label><br>
                        <div style="text-align: center; ">
                            <select name="Booking" id="Booking" class="form-select">
                            <option value="Book for individual">Book for individual</option>
                            <option value="Book for team">Book for team</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="Building" class="form-label">Building</label><br>
                        <div style="text-align: center; ">
                            <select name="Building" id="Building" class="form-select">
                            <option value="select">--select--</option>
                            <option value="Deccan Park">Deccan Park</option>
                            <option value="synergy Park">synergy Park</option>
                            <option value="Kohinoor Park">Kohinoor Park</option>
                        </select>
                        </div>
                    </div> 
                    <p class="text-center mb-3" style="{{color}}">{{error}}</p>
                    <div class="d-flex justify-content-center" style="margin-top: 15%">
                        <input type="submit" class="btn fw-bold btn-primary" value="Show avialble desks">
                    </div>                   
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="contain">  
    <div class="office" style=" display: grid; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); grid-gap: 60px;">
        <!-- Rooms -->
        <div class="room" style=" border: 2px solid black;top: 50px; left: 50px; width: 150px; height: 150px;"></div>
        <div class="room" style=" border: 2px solid black;top: 50px; left: 100px; width: 150px; height: 150px;"></div>
        <div class="room" style=" border: 2px solid black;top: 50px; left: 450px; width: 150px; height: 150px;"></div>

        <!-- Desks -->
        <div class="desk" style=" border: 2px solid black; top: 50px; left: 50px;"></div>
        <div class="desk" style=" border: 2px solid black; top: 110px; left: 50px;"></div>
        <div class="desk" style=" border: 2px solid black;top: 50px; left: 100px;"></div>
        <div class="desk" style=" border: 2px solid black;top: 110px; left: 100px;"></div>

        <div class="desk" style=" border: 2px solid black; top: 50px; left: 260px;"></div>
        <div class="desk" style=" border: 2px solid black; top: 110px; left: 260px;"></div>
        <div class="desk" style=" border: 2px solid black;top: 50px; left:310px;"></div>
        <div class="desk" style=" border: 2px solid black;top: 110px; left: 310px;"></div>

        <div class="desk" style=" border: 2px solid black; top: 50px; left: 470px;"></div>
        <div class="desk" style=" border: 2px solid black; top: 110px; left: 470px;"></div>
        <div class="desk" style=" border: 2px solid black;top: 50px; left:520px;"></div>
        <div class="desk" style=" border: 2px solid black;top: 110px; left: 520px;"></div>


        
        <!-- Rooms -->
        <div class="room" style=" border: 2px solid black;top: 250px; left: 50px; width: 150px; height: 150px;"></div>
        <div class="room" style=" border: 2px solid black;top: 250px; left: 250px; width: 150px; height: 150px;"></div>
        <div class="room" style=" border: 2px solid black;top: 250px; left: 450px; width: 150px; height: 150px;"></div>
       
        <!-- Desks --> 
        <div class="desk" style=" border: 2px solid black; top: 270px; left: 50px;"></div>
        <div class="desk" style=" border: 2px solid black; top: 330px; left: 50px;"></div>
        <div class="desk" style=" border: 2px solid black;top: 270px; left: 100px;"></div>
        <div class="desk" style=" border: 2px solid black;top: 330px; left: 100px;"></div>

        <div class="desk" style=" border: 2px solid black; top: 270px; left: 260px;"></div>
        <div class="desk" style=" border: 2px solid black; top: 330px; left: 310px;"></div>
        <div class="desk" style=" border: 2px solid black;top: 270px; left: 310px;"></div>
        <div class="desk" style=" border: 2px solid black;top: 330px; left: 260px;"></div>

        <div class="desk" style=" border: 2px solid black; top: 270px; left: 470px;"></div>
        <div class="desk" style=" border: 2px solid black; top: 330px; left: 470px;"></div>
        <div class="desk" style=" border: 2px solid black;top: 270px; left: 520px;"></div>
        <div class="desk" style=" border: 2px solid black;top: 330px; left: 520px;"></div>
       
    </div>
</div>

<div class="contain">
    <div class="column">
        <div class="container" style="margin-top: 20% ;">
            <div class="row justify-content-right">
                <div class="col-md-12">
                    <div class="border p-3">
                        <h2 class="text-center mb-1"> My Bookings</h2><br>
                        <h6 style="color: rgb(106, 43, 194);">Booked details</h6><br><br>
                        <h6><p>Building name<br><br>Date<br><br>Block and desk number</p><br></h6>
                        <div class="d-flex justify-content-center" style="margin-top: 15%;">
                            <input type="submit" class="btn fw-bold btn-primary" value="Cancel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="p-3 w-25 offset-5 my-5 rounded-3 fw-bold bg-danger text-white">
    <p>Session Expired Please Login ..!</p>
</div>
{% endif %}

{% endblock %}

