{% extends "layout.html" %} 

{% block title %}Forget Password{% endblock %} 

{%block content %}
<div class="forget-form">
    <h1>Reset Password</h1>
    <form method="post">
      <input placeholder="Username" type="text" class="username" name="username" required /><br />
      <input placeholder="Password" type="password" class="password" name="password" required /><br />
      <input placeholder="Confirm Password" type="password" class="cnf-password" name="cnf-password" required /><br />
      <input id="reset-btn" type="submit" value="Reset Password" />
    </form>
    <a href="{{ url_for('login') }}" value="">Login</a>
  </div>
{% endblock %}