{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block meta %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
{% endblock %}

{% block content %}
<div class="container col-9">
	<div id="home" class="container bg-body-tertiary" style="padding:100px 40px;">
		<br>
		<h1>Smart Desk Booking and Management</h1>
		<div style="text-align: justify;">
		<p> Smart desk booking is a modern solution that allows individuals and organizations to efficiently manage desk space in various environments, including offices, co-working spaces.
			It provides employees with the ability to reserve desks or workstations as needed, promoting flexibility, productivity, and effective space management.
			</p></div>
		<img style="width: 500px; justify-content: right;" class="img-fluid opacity-100"  alt="desk-image" src="./static/images/1.png">
		<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and
			look at
			the navigation bar while scrolling!</p>
		</div>
		
		<div id="About" class="container-fluid bg-success text-white" style="padding:130px 40px;">
			<h1>About</h1>
			<div style="text-align: justify;">
			<p>Desk Usage Reporting Our advanced analytics provide managers with
				comprehensive reports on desk usage, allowing them to optimize workspace
				allocation and increase productivity. Features Efficient Desk Booking With
				our Desk Booking Management system, team members can easily book their
				preferred desk or seat in the office. From individual desks to collaborative
				workspaces, our platform provides seamless desk booking options to ensure
				everyone has a comfortable and productive workspace. Flexibility for
				Managers Our Desk Booking Management empowers managers with the ability to
				oversee and manage the desk booking process. They can easily assign desks to
				team members, track availability, and make necessary changes as per the
				team's requirements. This flexibility ensures optimal utilization of</p></div>
				<img style="width: 500px; justify-content: right;" class="img-fluid"  alt="desk-image" src="./static/images/1.png">
			<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
		  </div>
	<div id="services" class="container-fluid bg-secondary text-white" style="padding:130px 40px;">
		<h1>Services</h1>
		<div style="text-align: justify;">
		<p>Desk Usage Reporting Our advanced analytics provide managers with
			comprehensive reports on desk usage, allowing them to optimize workspace
			allocation and increase productivity. Features Efficient Desk Booking With
			our Desk Booking Management system, team members can easily book their
			preferred desk or seat in the office. From individual desks to collaborative
			workspaces, our platform provides seamless desk booking options to ensure
			everyone has a comfortable and productive workspace. Flexibility for
			Managers Our Desk Booking Management empowers managers with the ability to
			oversee and manage the desk booking process. They can easily assign desks to
			team members, track availability, and make necessary changes as per the
			team's requirements. This flexibility ensures optimal utilization of</p></div>
			<img style="width: 500px; justify-content: right;" class="img-fluid"  alt="desk-image" src="./static/images/1.png">
		<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and
			look at
			the navigation bar while scrolling!</p>
	</div>
	<div id="Contact" class="container-fluid bg-white text-dark" style="padding:130px 40px;">
		<h1>Contact</h1>
		<div style="text-align: justify;">
		<p>Desk Usage Reporting Our advanced analytics provide managers with
			comprehensive reports on desk usage, allowing them to optimize workspace
			allocation and increase productivity. Features Efficient Desk Booking With
			our Desk Booking Management system, team members can easily book their
			preferred desk or seat in the office. From individual desks to collaborative
			workspaces, our platform provides seamless desk booking options to ensure
			everyone has a comfortable and productive workspace. Flexibility for
			Managers Our Desk Booking Management empowers managers with the ability to
			oversee and manage the desk booking process. They can easily assign desks to
			team members, track availability, and make necessary changes as per the
			team's requirements. This flexibility ensures optimal utilization of</p></div>
		
			<img style="width: 500px; justify-content: right;" class="img-fluid"  alt="desk-image" src="./static/images/1.png">
			<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and
			look at the navigation bar while scrolling!</p>
  </div>
	{% endblock %}