{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block meta %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
{% endblock %}

{% block content %}
  <div>
    <h1>Smart Desk Booking and Management</h1>
    <p>
      Desk Booking Management is a reliable platform that offers hassle-free
      desk booking solutions for businesses. With easy-to-use features, team
      members and managers can book desks, cancel bookings, and report any
      issues. Additionally, the platform generates comprehensive reports on desk
      usage, providing valuable insights for efficient workspace management.
      members and managers can book desks, cancel bookings, and report any
      issues. Additionally, the platform generates comprehensive reports on desk
      usage, providing valuable insights for efficient workspace management.
      members and managers can book desks, cancel bookings, and report any
      issues. Additionally, the platform generates comprehensive reports on desk
      usage, providing valuable insights for efficient workspace management.
    </p>
    <img style="width: 500px;" id = "1" alt="desk-image" src="./static/images/1.png">
    <p>
      Our platform offers seamless desk booking capabilities, allowing team
      members to easily reserve a desk that suits their needs.
    </p>
    <h1 id="services">Services</h1>
    <h2>Desk Booking</h2>
    <p>
      Our platform offers seamless desk booking capabilities, allowing team
      members to easily reserve a desk that suits their needs.
    </p>

    <h2>Cancellation Management</h2>
    <p>
      We provide a user-friendly cancellation feature, enabling team members to
      easily cancel their booked desks when plans change.
    </p>
    <img id = "1" alt="desk-image" src="./static/images/1.png">

    Desk Usage Reporting Our advanced analytics provide managers with
    comprehensive reports on desk usage, allowing them to optimize workspace
    allocation and increase productivity. Features Efficient Desk Booking With
    our Desk Booking Management system, team members can easily book their
    preferred desk or seat in the office. From individual desks to collaborative
    workspaces, our platform provides seamless desk booking options to ensure
    everyone has a comfortable and productive workspace. Flexibility for
    Managers Our Desk Booking Management empowers managers with the ability to
    oversee and manage the desk booking process. They can easily assign desks to
    team members, track availability, and make necessary changes as per the
    team's requirements. This flexibility ensures optimal utilization of
  </div>
{% endblock %}