{% extends 'layout.html' %}

{% block title %}Add Resource{% endblock %}

{% block content %}
{% if 'username' in session %}
<div class="container">
    <div class="position-relative" style="margin-top: 8%">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="border p-4">
                    <h1 class="text-center mb-4 "> Generations of reports</h1>
                    <form method="post">
                        <div class="mb-3">
                            <label for="deskName" class="form-label">Desk Name</label>
                            <input type="text" class="form-control" id="deskName" name="deskName"
                                placeholder="Enter Desk name" required>
                        </div>                        
                        <div class="mb-3">
                            <label for="isAvailable" class="form-label">Availability</label>
                            <select name="isAvailable" id="isAvailable" class="form-select">
                                <option value="true">Available</option>
                                <option value="false">Not Available</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Quantity</label>
                            <input type="number" class="form-control" id="quantity" name="quantity"
                                placeholder="Enter quantity" required>
                        </div>
                        <!-- Add more fields as needed -->
                        <p class="text-center mb-3" style="color: tomato;">{{error}}</p>
                        <div class="d-flex justify-content-center">
                            <input type="submit" class="btn fw-bold btn-primary" value="Add Resource">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="p-3 w-25 offset-5 my-5 rounded-3 fw-bold bg-danger text-white">
    <p>Session Expired Please Login ..!</p>
</div>
{% endif %}
{% endblock %}