{% extends 'layout.html' %}

{% block title %}Add Resource{% endblock %}

{% block content %}
{% if 'username' in session %}
<div class="container">
    <div class="position-relative" style="margin-top: 8%">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="border p-4">
                    <h1 class="text-center mb-4"> Generations of reports</h1>
                    <form method="post">
                        <div class="mb-3">
                            <label for="Desk usage" class="form-label">Desk usage</label><br>
                                <label for="From date">Select from Date:</label>
                                <input type="date" id="From date" name="From date">
                                <label for="To date">Select to Date:</label>
                                <input type="date" id="To date" name="To date">
                                <br>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="p-3 w-25 offset-5 my-5 rounded-3 fw-bold bg-danger text-white">
    <p>Session Expired Please Login ..!</p>
</div>
{% endif %}
{% endblock %}