{% extends "layout.html" %}

{% block title %}Login Page{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
{% endblock %}
</head>
{% block content %}

<main class="content">
	

	<div class="login-form">
		<h1>LOGIN</h1>
		<form method="post">
			<input placeholder="Username" type="text" class="username" name="username" required /><br />
			<input placeholder="Password" type="password" class="password" name="password" required /><br />
			<input id="login-btn" type="submit" value="Login" />
		</form>
		<a href="{{ url_for('forget_password') }}" value="">Forget Password</a>
	</div>
	{% with messages = get_flashed_messages() %}
        {% if messages %}
		<div class="popup">
			{{ messages[0] }}
		</div>
	{% endif %}
{% endwith %}
	
</main>
{% endblock %}