{% extends "layout.html" %} 

{% block title %}Login Page{% endblock %} 

{% block meta %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
{% endblock %} {% block content %}
<div class="position-relative" style="margin-top: 6%">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="border p-4">
                <h1 class="text-center mb-4">Login</h1>
                <form method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required />
                    </div>
                    <div class="mb-3">
                        <label for="pwd" class="form-label">Password</label>
                        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter your password" required />
                    </div>
                    <div class="mt-3 d-flex justify-content-center">
                        <button class="btn fw-bold btn-primary">Login</button>
                    </div>
                    <p class="text-center mt-3" style="color: tomato">{{error}}</p>
                    <p class="text-center mt-3">
                        <a class="nav-link fw-bold text-primary" href="{{ url_for('forget_password') }}">Forgot Password?</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}