{% extends "layout.html" %}

{% block title %}Login Page{% endblock %}

{% block meta %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
{% endblock %}

{% block content %}

<main class="content">
	
	<div class="login-form">
		<h1>LOGIN</h1>
		<form method="post">
			<input placeholder="Username" type="email" class="username" name="username" required /><br />
			<input placeholder="Password" type="password" class="password" name="password" required /><br />
			<input id="login-btn" type="submit" value="Login" />
			<p style="color: tomato;">{{error}}</p>
			<a href="{{ url_for('forget_password') }}" value="">Forget Password</a>
		</form>
		
		
	</div>

	
</main>
{% endblock %}