{% extends 'layout.html' %}

{% block content %}
{% if 'username' in session %}
<div class="container">
  <div class="position-relative" style="margin-top: 5%">
      <div class="row justify-content-center">
          <div class="col-md-4">
              <div class="border p-4">
                  <h1 class="text-center mb-4">Remove User</h1>
                  <form method="post">
                      <div class="mb-3">
                          <label for="email" class="form-label">Email</label>
                          <input type="email" class="form-control" id="email" name="email" placeholder="Enter user's email" required>
                      </div>
                      <div class="mb-3">
                        <label for="emp_id" class="form-label">Employee ID</label>
                        <input type="Employee ID" class="form-control" id="email" name="email" placeholder="Enter user's Employee ID" required>
                    </div>
                      <div class="mb-3">
                          <label for="role" class="form-label">Role</label>
                          <select name="role" id="role" class="form-select">
                              <option value="select">--select--</option>
                              <option value="Admin">Admin</option>
                              <option value="Manager">Manager</option>
                              <option value="Team Member">Team Member</option>
                          </select>
                      </div>
                      <p class="text-center mb-3" style="color: tomato;">{{error}}</p>
                      <div class="d-flex justify-content-center">
                          <input type="submit" class="btn fw-bold btn-primary" value="Remove User">
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% else %}
<div class="p-3 w-25 offset-5 my-5 rounded-3 fw-bold bg-danger text-white">
    <p>Session Expired Please Login ..!</p>
</div>
{% endif %}
{% endblock %}