{% extends 'layout.html' %}

{% block title %}View Issues{% endblock %}

{% block content %}
{% if 'username' in session %}

<div class="container-fluid col-9" style="margin-top: 6%">
    <div class="row justify-content-between">
        <div class="col-11 p-3 rounded-4" style="height: fit-content; background-color: rgba(172, 159, 178, 0.705);
                    -webkit-backdrop-filter: blur(4px);
                    backdrop-filter: blur(2px);">
            <form method="post" action="">
                <div class="row mt-2">
                    <div class="col-md-3 mt-2">
                        <div id="data-container">
                            Data will be displayed here.
                            {{Issues}}
                        </div>
                    </div>
                </div>
            </form>      
        </div>
    </div>
</div>
{% else %}
<div class="p-3 w-25 offset-5 my-5 rounded-3 fw-bold bg-danger text-white">
    <p>Session Expired Please Login ..!</p>
</div>
{% endif %}
{% endblock %}