{% extends 'layout.html' %}

{% block title %}Add Resource{% endblock %}

{% block content %}
{% if 'username' in session %}

<div class="container-fluid col-9" style="margin-top: 6%">
    <div class="row justify-content-between">
        <div class="col-11 p-3 rounded-4" style="height: fit-content; background-color: rgba(172, 159, 178, 0.705);
                    -webkit-backdrop-filter: blur(4px);
                    backdrop-filter: blur(2px);">
            <form method="post" action="">
                <div class="row mt-2">
                    <div class="col-md-3 mt-2">
                        <div id="data-container">
                            Data will be displayed here.
                            <script>
                                // Replace 'http://example.com' with the actual URL of your microservice
                                const apiUrl = 'http://example.com/Issue_report';
                            
                                fetch(apiUrl)
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Network response was not ok');
                                        }
                                        return response.json();
                                    })
                                    .then(data => {
                                        // Access the data and display it in the HTML element
                                        const dataContainer = document.getElementById('data-container');
                                        dataContainer.textContent = `Data from external file: ${data.message}`;
                                    })
                                    .catch(error => {
                                        console.error('Error fetching data:', error);
                                    });
                            </script>
                        </div>
                    </div>
                </div>
            </form>      
        </div>
    </div>
</div>
{% else %}
<div class="p-3 w-25 offset-5 my-5 rounded-3 fw-bold bg-danger text-white">
    <p>Session Expired Please Login ..!</p>
</div>
{% endif %}
{% endblock %}