/* admin_microservice/static/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  


/* Dashboard*/
.dashboard-nav {
  position: fixed;
  left: 0;
  margin-top: 69px;
  width: 200px;
  height: 100vh;
  color: #fff;
  background-color: #f1f1f1;
  box-sizing: border-box;
}

.dashboard-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.dashboard-nav li a {
  display: block;
  color: #000;
  padding: 9px 18px;
  text-decoration: none;
}

.dashboard-nav li a:hover {
  background-color: #555;
  color: white;
}

.dashboard-content {
  margin-top: 49px;
  margin-left: 200px; /* Same as sidebar width */
  padding: 20px;
  box-sizing: border-box;
}
